:root {
--primary-font:'Roboto',sans-serif;
--secondary-font:'Raleway',sans-serif;
--first-logo-text-color:#000000;
--primary-text-color-theme-light:#212121;
--secondary-text-color-theme-light:#757575;
--primary-text-color-theme-dark:#FFFFFF;
--secondary-text-color-theme-dark:rgba(255, 255, 255, 0.6);
--primary-background-color:#FFFFFF;
--secondary-background-color:#2F303A;
--accent-color:#2196F3;
--team-buttons-background-color:#F5F4FA;

}


.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }

  .list {
    list-style: none;
}

  .link{
    text-decoration: none;
  }

  img {
    display: block;
  }

  * {
    box-sizing: border-box;
}

  button {
    font-family: inherit;
    cursor: pointer;
    border:none;
  }

  h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

body {
    font-family:var(--primary-font);
    font-size: 14px;
    letter-spacing:0.03em;
    color:var(--primary-text-color-theme-light);
    background-color:var(--primary-background-color);
    position: relative;
    width: 1600px;
    height: 2928px;
    
}

.page_header {
padding-top:24px ;
padding-bottom:25px ;
}

.page_main{
    
}


  .first_logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
        color:var(--first-logo-text-color);
        text-decoration: none;
    margin-left: 215px;
margin-right: 1240px;

    }
    .item_web{
        color:var(--accent-color)
    }

    .menu {
        margin-left: 453px;
        margin-right: 866px;
    }
 
    .menu_link  {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-text-color-theme-light);
}

.contact_mail {
    margin-left: 1052px;
    margin-right: 387px;
    
}

.contact_tel{
    margin-left: 1243px;
    margin-right: 215px;
   
}

.contact_link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--secondary-text-color-theme-light);
}

.menu_link:hover , .contact_link:hover, 
.menu_link:focus , .contact_link:focus
 {
 color:var(--accent-color)
}
 
.current {
    color:var(--accent-color);
}

.section_main {
    background-color:var(--secondary-background-color);
    text-decoration: none;
    height: 600px;
    padding-top: 200px;
    padding-bottom:94px ;
}

    .title_main{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--primary-text-color-theme-dark);
margin-left: 452px;
margin-right: 452px;
 }

    .btn_main {
font-weight: 700;
font-size: 16px;
line-height: 1.86;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color:var(--accent-color);
    color:var(--primary-text-color-theme-dark);
    margin-left: 692px;
    margin-top: 30px;
    margin-bottom: 200px;
   
  
  
}

.btn_main:hover , .btn_main:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section_about_us{
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 215px;
    
}

.title_about_us {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
    color:var(--primary-text-color-theme-light);
}
 .text_about_us{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text-color-theme-light);
 }

.section_what_we_do{
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 215px;
}
 
 .title_what_we_do {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
    color:var(--primary-text-color-theme-light);
    margin-bottom: 50px;
 }

 .item_what_we_do:not(:last-child) {
    margin-bottom: 20px;

 }
 
 .section_our_team {
    background-color:var(--team-buttons-background-color);
    padding-top: 94px;
    padding-bottom: 1px;
 }
 .title_our_team{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
    color:var(--primary-text-color-theme-light);
    margin-top: 94px;
    margin-bottom: 50px;
 }
 
.our_team{
    margin-bottom: 94px;
}

 .content_our_team {
        width: 270px;
    height: 368px;
    left: 215px;
    top: 1632px;
    color:var(--primary-text-color-theme-light);
    background-color:var(--primary-background-color) ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

 }

 .subtitle_our_team {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align:center;
    letter-spacing: 0.03em;
 }

 .item_our_team {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
    color:var(--secondary-text-color-theme-light);
 }
 

 .contacts_footer{
    background-color:var(--secondary-background-color) ;
    height: 252px;
left: 0px;
top: 2094px;
padding-top: 1px;
 }

 .second_logo{
font-family:'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
    color:var(--accent-color) ;
    color:var(--primary-text-color-theme-dark);
    text-decoration: none;
    margin-left: 215px;
}

.address_footer{
    
    margin-left: 215px;
}
.address_list{
    margin-top: 20px;
}

 .link_map {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--primary-text-color-theme-dark);
 }

 .link_mail, .link_tel {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text-color-theme-dark)
 }

 .link_map:hover , .link_mail:hover , .link_tel:hover ,
 .link_map:focus , .link_mail:focus , .link_tel:focus {
    color: var(--accent-color);
 }


.button_main{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
background:var(--team-buttons-background-color);
color:var(--primary-text-color-theme-light);
}

.button_main:hover, .button_main:focus {
    background-color:var(--accent-color);
    color: var(--primary-text-color-theme-dark);
}

.subtitle_services_main {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--primary-text-color-theme-light);
}
.item_services_main {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--secondary-text-color-theme-light);
}
 

