:root {
--primary-font:'Roboto',sans-serif;
--secondary-font:'Raleway',sans-serif;
--first-logo-text-color:#000000;
--primary-text-color-theme-light:#212121;
--secondary-text-color-theme-light:#757575;
--primary-text-color-theme-dark:#FFFFFF;
--secondary-text-color-theme-dark:rgba(255, 255, 255, 0.6);
--primary-background-color:#FFFFFF;
--secondary-background-color:#2F303A;
--accent-color:#2196F3;
--team-buttons-background-color:#F5F4FA;

}


.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }

  .list {
    list-style: none;
}

  .link{
    text-decoration: none;
  }

  img {
    display: block;
  }

 
  button {
    cursor: pointer;
    border:none;
  }

  h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

*{
    box-sizing: border-box;
}

body {
    font-family:var(--primary-font);
    font-size: 14px;
    letter-spacing:0.03em;
    color:var(--primary-text-color-theme-light);
    background-color:var(--primary-background-color);
         
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



/* ========================  HEADER  ======================== */

.page_header_container{
    display: flex;
    align-items: center;
}

.page_nav{
    display: flex;

}

  .first_logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
        color:var(--first-logo-text-color);
        text-decoration: none;
   margin-right: 93px;
   padding-top: 24px;
   padding-bottom: 25px;

    }
    .item_web{
        color:var(--accent-color)
    }

    .menu{
        display: flex;
        column-gap: 30px;
        padding-top: 32px;
        padding-bottom:32px ;
    }
 
    .menu_link  {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-text-color-theme-light);
}
 
.contacts_header{
    display: flex;
    column-gap: 30px;
   margin-left: auto;
    padding-top:32px ;
    padding-bottom: 32px;
}


.contact_link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--secondary-text-color-theme-light);
}

.menu_link:hover , .contact_link:hover, 
.menu_link:focus , .contact_link:focus
 {
 color:var(--accent-color)
}
 
.current {
    color:var(--accent-color);
}
/* ========================  MAIN  ======================== */

.section_main {
    text-decoration: none;
    text-align: center;
    
     
}
.main_bg{
    background-color:var(--secondary-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
   

}

    .title_main{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--primary-text-color-theme-dark);
margin-bottom: 30px;


 }

    .btn_main {
font-weight: 700;
font-size: 16px;
line-height: 1.86;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color:var(--accent-color);
    color:var(--primary-text-color-theme-dark);
    border-radius: 4px;
    width: 216px;
height: 50px;
left: 692px;
top: 430px;

}

.btn_main:hover , .btn_main:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}

/* ========================  ABOUT  ======================== */


.section_about_us{
    margin-top: 94px;
}

.about_us{
display: flex;
column-gap: 30px;
}


.title_about_us {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
    color:var(--primary-text-color-theme-light);
    margin-bottom: 10px;
}
 .text_about_us{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text-color-theme-light);
 }

/* ========================  WHAT WE DO  ======================== */

.page_what_we_do {
padding-top: 94px;
padding-bottom: 94px;
}
 
 .title_what_we_do {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
    color:var(--primary-text-color-theme-light);
    margin-bottom: 50px;
 }

.what_we_do{
    display: flex;
    column-gap: 30px;
}

/* ========================  OUR TEAM  ======================== */
 

.section_our_team {
    background-color:var(--team-buttons-background-color);
    padding-top: 94px;
   
 }
 .title_our_team{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
    color:var(--primary-text-color-theme-light);
    margin-bottom: 50px;
 }
 
.our_team{
   margin-top: 50px;
   display: flex;
   column-gap: 30px;
   padding-bottom: 94px;
   
}

 .content_our_team {
        width: 270px;
    height: 368px;
    left: 215px;
    top: 1632px;
    color:var(--primary-text-color-theme-light);
    background-color:var(--primary-background-color) ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

 }

 .subtitle_our_team {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align:center;
    letter-spacing: 0.03em;
 }

 .item_our_team {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
    color:var(--secondary-text-color-theme-light);
 }
 
/* ========================  FOOTER  ======================== */

.page_footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
 .contacts_footer{
    background-color:var(--secondary-background-color) ;
 
 }

 .second_logo{
font-family:'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
    color:var(--accent-color) ;
    color:var(--primary-text-color-theme-dark);
    text-decoration: none; 
}


.address_list{
   margin-top: 20px;
   
    
}

.item_mail , .item_tel {
    margin-top: 9px;
}

 .link_map {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--primary-text-color-theme-dark);
 }

 .link_mail, .link_tel {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text-color-theme-dark)
 }

 .link_map:hover , .link_mail:hover , .link_tel:hover ,
 .link_map:focus , .link_mail:focus , .link_tel:focus {
    color: var(--accent-color);
 }

/* ========================  MAIN PORTFOLIO  ======================== */
 
.page_header{
    border: 1px solid #ECECEC;
}

.page_porfolio{
    padding-top: 94px;
}

.portfolio_page_main{
    padding-bottom: 94px;
}

.buttons_services {
height: 1360px;
left: 215px;
top: 174px;
}

.button_list{
    display: flex;
    margin-bottom:50px ;
column-gap: 8px;
justify-content: center
}

.button_main{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
background:var(--team-buttons-background-color);
color:var(--primary-text-color-theme-light);
border-radius: 4px;
width: 103px;
height: 38px;
left: 846px;
top: 174px;
}

.button_main:hover, .button_main:focus {
    background-color:var(--accent-color);
    color: var(--primary-text-color-theme-dark);
}

.services_main{
    display: flex;
    column-gap: 30px;
   flex-wrap: wrap;
   margin-top: 34px;
   row-gap: 30px;
   }

.text_border_line{
    border: 1px solid #EEEEEE;
    border-top:none;
    padding:20px 24px;
}
.content_services_main{
    width: 370px;
height: 404px;
left: 1015px;
top: 1130px;

}

.subtitle_services_main {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--primary-text-color-theme-light);
margin-bottom: 4px;
}

.item_services_main {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--secondary-text-color-theme-light);
}
 


